@media only screen and (max-device-width : 1100px)  {
  nav {
    position: fixed;
    z-index: 1000;
    text-align: center;
    right: 30px;
    top: 0px;
    transform-origin: right;
    width: 98%;
    padding-top: 1.5em;
    transform: none;
  }

  .section {
    margin-top: 25px;
  }
}
