@media only screen and (min-device-width : 800px) and (max-device-width : 1250px) {
  /* .projects p{
    width: 43%;
    position: relative;
    font-size: 16px;
    text-align: center;
    line-height: 27px;
    color: black;
    background-color: #efefef;
    margin-left: 2%;
    bottom: 38em;
    box-shadow: 14px 20px 22px #00000088;
    border-radius: 5px;
    padding-top: 14px;
    padding-bottom: 15px;
    margin-left: 2%;;
  }


  .technology h4{
    font-size: 1.3em;
  } */
}
