* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html  {
  font-size: 1em;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #efefef;
  font-family: 'ZCOOL XiaoWei', serif;
}
html h1, h2, h3, h4  {
  font-family: 'Cinzel', serif;
}

main {
  width: 100%;
  margin: 10px auto;
  padding: 0;
  position: relative;
  top: 5%;
}

nav{
  /* position: fixed;
  z-index: 1000;
  text-align: center;
  right: 30px;
  top: 0px;
  transform: rotate(270deg);
  transform-origin: right;
  width: 48%;
  background-color: black;
  opacity: 0.6; */

  position: fixed;
  z-index: 1000;
  text-align: center;
  top: 0px;
  transform-origin: right;
  width: 100%;
  padding-top: 1.5em;
  transform: none;
  padding-bottom: 1em;
  background-color: black;
  right: 0;
  opacity: 0.6;
  height: 4em;
}

nav ul {
  width: 100%;
  display: table;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-size: 1.2em;
  display: table-cell;
}

nav ul a {
  text-decoration: none;
  color: white;
}

/* .NavlistItems:hover{
  background-color: white;
  opacity: 43.3;
  padding-bottom: 0.5em;
  color: black;
} */

nav ul li a:hover {
  /* color: black;
  opacity: 43.3;
  padding-bottom: 0.5em;
  width: 100%; */

  color: black;
  width: 100%;
  padding-top: 1.23em;
  padding-bottom: 1.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: white;
}

#rightFlame{
  position: relative;
  top: 4px;
    transform: rotate(180deg);
}
/* nav ul li:last-child {
  transform: rotate(180deg);
} */

.NavlistItems{
  position: relative;
  bottom: 7px;
}


.logo {
  text-align: center;
}

.logo img {
  width: 200px;
}

h1 {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  margin: 0.4em;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin: 0.2em;
}

h3 {
  text-align: center;
  font-size: 2em;
  margin: 0.2em;
}

h4 {
  text-align: center;
  font-size: 1.5em;
  margin: 0.2em;
}

h5 {
  text-align: center;
  font-size: 1.25em;
  margin: 0.1em;
}

hr {
  margin: 2em auto;
  width: 80%;
}

strong {
  font-weight: 900;
}

.section {
  text-align: center;
  padding-bottom: 2em;
  margin-top: 3em;
}

.welcome hr {
  margin-top: 8em;
}

.welcome p {
  padding-bottom: 3em;
  font-size: 18px;
}

.welcome h2 {
  padding-bottom: 0.5em;
  padding-top: 0em;
}

.welcome strong{
  font-size: 27px;
}

.about{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 6em;
}
.about p{
  line-height: 20px;
}
#about {
  padding-bottom: 0em;
  margin-bottom: -2em;
}

.about h5{
  padding-top: 5%;
  padding-bottom: 5%;
}

.about img {
  border-radius: 50%;
  padding: 15px;
  border: 2px solid #d3d3d3;
  margin-top: 10%;
}

.about div{
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  width: 45%;
}

.softSkills{
  background-color: #96a0a0;
  width: 34%;
  border-radius: 42px;
  text-align: center;
  box-shadow: 14px 20px 22px #00000088;
}

.softSkills h4{
  color: white;
  padding: 6% 5%;
  font-weight: bolder;
}

.skillCell{
  padding: 8px 16px;
  background-color: white;
  border-radius: 20px;
  color: black;
  margin-right: 8px;
  display: inline-block;
  margin-bottom: 16px;
  margin-left: 6px;
  margin-right: 5px;
}

.technology{
  width: 26%;
  background-color: white;
  border-radius: 42px;
  text-align: center;
  box-shadow: 14px 20px 22px #00000088;
}

.technology h4{
  padding: 9% 4%;
  font-weight: bolder;
  color: #1c2020;
}

.techCell{
  padding: 8px 16px;
  background-color: #96a0a0;
  border-radius: 20px;
  color: white;
  margin-right: 8px;
  display: inline-block;
  margin-bottom: 14%;
}

.skillsContainer{
  display: flex;
  height: initial;
  align-items: center;
  padding-top: 5%;
  justify-content: space-evenly;
}

.contactContainer{
  text-align: center;
  padding-bottom: 4%;
}

.contactLogo{
  width: 11%;
  border-radius: 100%;
}

.contactGrid{
  display: flex;
  text-align: center;
}

.contactContainer p{
  padding-bottom: 9%;
  padding-top: 5%;
}

ol, ul {
	list-style: none;
}

.mainContainer{
  width: 80%;
  margin: 0 auto;
}
